<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreshiiTestSuite">

	<listeners>

		<listener class-name="com.utilities.Reporting" />
	</listeners>

	<test name="TestNGTest1" thread-count="5">
		<classes>
			  <class name="com.testCases.FWA_019" />
		</classes>
	</test>
</suite> <!-- Suite --> 
